{% extends "search/layout.html" %}

{% block body %}
    <h1>Add payment</h1>
    <form action="{% url 'search:addpayment' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for='payment_kind'>Payment Kind:</label>
            <select name='payment_kind'>
                {% for paymentKind in paymentKinds %}
                   <option value={{paymentKind.id}}>{{paymentKind.definition}}</option>
                {% endfor %}
            </select>
        
            <label for='check_number'>Check Number:</label>
            <input type='text' name='check_number'>
        </div>
        <div>
            <label for='amount'>Amount: </label>
            <input type='text' name='amount'>
        </div>
        <div>
            <label for='payment_date'>Payment Date:</label>
            <input type="date" name='payment_date'>
        </div>
        <div>
            <label for='supplyer'>Supplyer: </label>
            <select name="supplyer" name="supplyer">
                {% for supplyer in supplyers %}
                    <option value={{supplyer.id}}>{{supplyer.supplyerName}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for='details'>details</label>
            <input type='text' name = details>
        </div>
        <div>
            <label for='given_date'>Given on: </label>
            <input type = 'date' name='given_date'>
        </div>
        <div>
            <label for='paymentNumber'>Payment Number: </label>
            <input type='number'>
            <label for='outOf'>Out of: </label>
            <input type = 'number'>
        </div>

        <div>
            
            <input type="submit" value="Add">
        </div>
    </form>

    <div>
        <label>Payments inserted today:</label>
        <table id='recently_added'>
            <thead>
                <tr>
                    <th>Payment Kind</th>
                    <th>Check Number</th>
                    <th>Amount</th>
                    <th>To be paid on</th>
                    <th>Details</th>
                    <th>Given On Date</th>
                </tr>
            </thead>


        </table>
    </div>

    
{% endblock %}