{% extends "search/layout.html" %}

{% block title %}
    <title>Add Payment Kind
        
    </title>
{% endblock %}

{% block body %}
    <h1>Add payment kind</h1>

    <div>
    {% if messages %}
        {% for message in messages%}
            {% if message.tags %} {{message}} {% endif%}
        {% endfor%}
     {% endif%}   
    </div>

    <div>
        <form action="{% url 'search:addpaymentkind' %}" method="post">
            {% csrf_token %}
            <div>
            {{ form }}
                <input type="submit" value="Add">
            </div>
        </form>
    </div>

    <div>
        <table id="paymentkinds">
            <thead>
                <tr>
                    
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for paymentKind in paymentKinds %}
                    <tr>
                        
                        <td>{{ paymentKind.definition}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}