{% extends "search/layout.html" %}
{% load static %}

{% block title %}
    <title>Search</title>
{% endblock %}

{% block js%}
    <script src="{% static 'C:\Users\Lena_Laptop\Documents\WebProgramming\Django\Payments\payments\search\static\search\index.js'%}"></script>
{% endblock %}  

{% block styleForPage %}
    <style>
        #total, #totalCount {
        border: none;
        
        }
        
        #concentrated{
            display: none;
        }

        #paymentkinds {
            border: 1px black solid;
            border-collapse: collapse;
            padding: 5px;
        }
    
        .invisible {
            display: none;
        }
    
    </style>
{% endblock %}


{% block body %}
    <center>
        <h1>Search for payment </h1>
    </center>
         <form action="{% url 'search:index' %}" id="searchform" method="POST">
            {% csrf_token %}

            <div>
                <label for="paymentsKind" class='conditionalDisplay'>Payment Kind: </label>
                <input type='checkbox' id='all_payment_kinds' name='all_payment_kinds' class='conditionalDisplay'
                {% if all_payment_kinds == 'on' %}checked="checked"
                {% endif %}>
                <label for='all_payment_kinds'>All</label>

                <label for="frompaymentsKind">Choose Payment Kind: </label>
                <select name="frompaymentKind">
                    {% for paymentKind in paymentKinds %}   
                         <option value="{{ paymentKind.id }}"
                        {% if paymentKind.id == fromPaymentKind %}
                        selected 
                        {% endif %}> 
                        {{paymentKind.definition}}
                        </option>
                    {% endfor %} 
                </select>
                    <label for="topaymentsKind" class="invisible">To Payment Kind: </label>
                    <select name="topaymentKind" class="invisible">
                        {% for paymentKind in paymentKinds %}   
                            <option value="{{ paymentKind.id }}" selected="selected" > {{paymentKind.definition}}
 
                            </option>
                        {% endfor %}
                    </select> 
                 </div>


             <div>
                <label for="checks">Checks: </label>
                <input type='checkbox' id='all_checks' name='all_checks'
                {% if all_checks == 'on' %}checked="checked"
                {% endif %}>
                <label for='all_checks'>All</label>
                <label for="checks">Choose check number:  </label>
                <select name="fromChecks">
                    {% for check in checks %}
                        <option value=" {{ check.checkNumber}}"
                        {% if check.checkNumber == fromCheck %}
                        selected
                        {% endif %}>
                        {{check.checkNumber}}</option>
                    {% endfor %}
                </select>
                <label for="checks" class="invisible">To Check </label>
                <select name="toChecks" class="invisible">
                    {% for check in checks %}
                        <option value=" {{ check.checkNumber}}" selected="selected"> {{check.checkNumber}}</option>
                    {% endfor %}
                </select>
    
                <input type="radio", id="all_dates" name="check_dates" value="all_dates" 
                {% if check_dates == 'all_dates' %}checked {% endif %} >
                <label for="all_dates">Search all dates</label>

                <input type="radio" id="chosen_dates" name="check_dates" value="chosen_dates"
                {% if check_dates == 'chosen_dates' %}checked {% endif %}>
                <label for="chosen_dates">Use the dates provided</label>
                
             </div>
    
            <div>
                <label for="supplyer">Supplyers: </label>
                <input type='checkbox' id='all_supplyers' name='all_supplyers'
                {% if all_supplyers == 'on'%} checked="checked"
                {% endif %}>
                <label for="all_supplyers">All</label>
                <label for="fromSupplyer">Choose a supplyer: </label>
                <select name='fromSupplyer'>
                    {% for supplyer in supplyers %}
                        <option  value="{{ supplyer.supplyerCode}} "
                        {% if supplyer.supplyerCode == fromSupplyer %}
                        selected
                        {% endif %}>
                        {{ supplyer.supplyerName}}

                        </option>
                        
                    {% endfor %}
                </select>
                <label for="supplyer" class="invisible">To Supplyer</label>
                <select name="toSupplyer" class="invisible">
                    {% for supplyer in supplyers %}
                        <option value="{{ supplyer.supplyerCode}}" 
                        selected>
                         {{ supplyer.supplyerName}}
                        
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <div>
                <label for='startDate'>From Date</label>
                <input name="paymentfromDate" type='date' value="{{ startDate }}">
                <label for='startDate'>To Date</label>
                <input name="paymentToDate" type='date' value="{{ finishDate }}">
                
            </div>
    
            <div>
                <label for="status">Include statuses: </label>
                {% for status in statuses %}
                    <input type='checkbox' value='{{ status.id }}' name='statuses' 
                    {% if status in chosen_statuses %}
                    checked
                    {% endif %}>
                    <label for='{{ status }}'>{{ status }}</label>
                {% endfor %}
            </div> 
 
              
            <div>
                <input type="checkbox" id="checkConcentrated">
                <label for="concentrated">Do concentrated report for</label>
                <select name="concentrated">
                    <option value="SUN">SUN</option>
                    <option value="MON">MON</option>
                    <option value="TUE">TUE</option>
                    <option value="WED" selected="selected">WED</option>
                    <option value="THU">THU</option>
                    <option value="FRI">FRI</option>
                    <option value="SAT">SAT</option>
                </select>
            </div>
        </div>
            <div>
                <input type="submit" value="Search" id="submitSearch">
            </div>
        

        </form>

        <div>
                <h3>Total:
                <label id="total">{{ total.amount__sum }} NIS.</label>
                
                Number of payments:
                <label id="totalCount">{{totalCount.amount__count}}.</label>
                </h3>
        </div>

        
        <table id="detailed">
            <thead>
                <tr>
                    {% for columnName in columnsNames %}
                        <th> {{ columnName }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                        <td>{{ payment.paymentKind.definition }}</td>
                        <td> {{ payment.amount}}</td>
                        <td>{% if payment.checkNumber is not None %} 
                             {{ payment.checkNumber }}
                            {% else %}
                            -------
                            {% endif %}
                            
                        </td> 
                        <td> {{ payment.paymentDate|date:"d/m/Y" }}</td>
                        <td> {{ payment.supplyer }} </td>
                        <td> {{ payment.details }} </td>
                        <td> {{ payment.givenOutDate|date:"d/m/Y" }} </td>
                        <td> {{ payment.paymentNumberInSeries }} </td>
                        <td> {{ payment.quantityinSeries }} </td>
                        <td> {{ payment.status }} </td>
                        <td> {{ payment.refuseReason }} </td>
                        <td> {{ payment.refuseDate|date:"d/m/Y" }} </td>
                        <td> {{ payment.givenInstead }} </td>
                        <td> {{ payment.alternativeSupplyer }} </td>
                        <td> {{ payment.checkBook }} </td>
                    
                 </tr>
                 {% endfor %}
            </tbody>

        </table>

        <div>

        </div>
    
        <table id="concentrated">
            <thead>
                <tr>
                    <th>Day to pay</th>
                    <th>Amount to pay</th>
                    <th>Dates included</th>
                </tr>
            </thead>
            <tr>
                <td>25/01/21</td>
                <td>5000</td>
                <td>18/1/21 - 25/1/21</td>
            </tr>
        </table>

        <div>
            <h1>Payments: </h1>
            <ol>{%for payment in payments %}
                <li>
                    <a href="{% url 'search:payment' payment.id %}">
                    Payment: {{ payment.paymentKind }}, amount: {{ payment.amount }} to be paid on {{ payment.paymentDate }} </li>
                    </a>
                {% endfor %}

            </ol>
        </div>
    
        

{% endblock %}

