{% extends "search/layout.html" %}



{% block body %}
        
        <h1>Search for payment </h1>

        <div>
            <label for="paymentsKind">From Payment Kind: </label>
            
            <select id="paymentsKind" name="paymentsKind">
                <option value="aaa">AAA</option>
                <option value="bbb">BBB</option> 
                <option value="ccc">CCC</option> 
                <option value="dddb">DDD</option>
            </select>
            <label for="paymentsKind">To Payment Kind: </label>
            <select id="paymentsKind" name="paymentsKind">
                <option value="aaa">AAA</option>
                <option value="bbb">BBB</option> 
                <option value="ccc">CCC</option> 
                <option value="dddb">DDD</option>
            </select>
        </div>

        <div>
            <input name="fromPaymentKind" list='paymentsKind' placeholder="Payment kind from">
            <input name="toPaymentKind" list='paymentsKind' placeholder="To Payment Kind">
            <datalist id="paymentsKind">
                <option value="aaa">
                <option value="bbb">
            </datalist>
        </div>

        <div>
            <input name="fromCheck" list='checks' placeholder="Start from Check">
            <input name="toCheck" list='checks' placeholder="Till Check">
            <datalist id="checks">
                <option value="aaa">
                <option value="bbb">
            </datalist>
        </div>

        <div>
            <label for "supplyer">From Supplyer</label>
            <select name="supplyer">
                {% for supplyer in supplyers %}
                    <option value="{{ supplyer.id}}"> {{ supplyer.id}} 
                        <label>- {{ supplyer.supplyerName }}</label>
                    </option>
                    
                {% endfor %}
            </select>
            <label for "supplyer">To Supplyer</label>
            <select name="supplyer">
                {% for supplyer in supplyers %}
                    <option value="{{ supplyer.id}}"> {{ supplyer.id}}
                        <label>- {{ supplyer.supplyerName }}</label>
                    </option>
                {% endfor %}
            </select>
        </div>>

        <div>
            <input name="paymentfromDate" type='date' placeholder="From Date">
            <input name="paymentToDate" type='date' placeholder="To Date">
            
        </div>

        <div>
            <input name="fromStatus" list='statuses' placeholder="From Status">
            <input name="toStatus" list='statuses' placeholder="To Status">
            <datalist id="statuses">
                <option value="aaa">
                <option value="bbb">
            </datalist>
        </div>

        <div>
            <input type="submit" value="Search">
        </div>

        <table>
            <thead>
                <tr>
                    {% for columnName in columnsNames %}
                        <th> {{ columnName }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for payment in payments %}
                        <td> {{ payment.paymentKind }}</td>
                        <td> {{ payment.checkNumber }}</td> 
                        <td> {{ payment.paymentDate }}</td>
                        <td> {{ payment.supplyer }} </td>
                        <td> {{ payment.details }} </td>
                        <td> {{ payment.givenOutDate }} </td>
                        <td> {{ payment.paymentNumberInSeries }} </td>
                        <td> {{ payment.quantityinSeries }} </td>
                        <td> {{ payment.status }} </td>
                        <td> {{ payment.refuseReason }} </td>
                        <td> {{ payment.refuseDate }} </td>
                        <td> {{ payment.givenInstead }} </td>
                        <td> {{ payment.alternativeSupplyer }} </td>
                        <td> {{ payment.checkBook }} </td>
                    {% endfor %}
                 </tr>
            </tbody>

        </table>

        <div>
            <h1>Payments: </h1>
            <ol>{%for payment in payments %}
                <li>
                    <a href="{% url 'search:payment' payment.id %}">
                    Payment: {{ payment.paymentKind }}, amount: {{ payment.amount }} to be paid on {{ payment.paymentDate }} </li>
                    </a>
                {% endfor %}

            </ol>
        </div>
{% endblock %}

