{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block title %} {% endblock %}
        
        
        <link rel="stylesheet" href="{% static 'search/styles3.css' %}">

        
        {% block styleForPage %}
        {% endblock %}
           
        {% block js %} 
        <script>
            
        </script>
        {% endblock %}
        
    </head>
    <body>
        <a href= "{% url 'search:index' %}">Search for payments</a>
        <a href= "{% url 'search:addpayment' %}">Add Payment</a>
        <a href= "{% url 'search:addpaymentkind' %}">Add Payment Kind</a>
        <a href= "{% url 'search:addsupplyer' %}">Add Supplyer</a>
        <br/>
        
        <hr/>
        {% block body %}
        {% endblock %}

    </body>
</html>
