{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Search</title>
        
        <link rel="stylesheet" href="{% static 'search/styles1.css' %}">
        <style>
            #total, #totalCount {
               border: none;
            
            }
            
            #concentrated{
                display: none;
            }

            #paymentkinds {
                border: 1px black solid;
                border-collapse: collapse;
                padding: 5px;
            }
            
            .invisible {
                display: none;
            }

          
        </style>
        <script>

            function showTable(checkConcentrated) {
                document.querySelectorAll('table').forEach (table => {
                    table.style.display = 'none';
                
                })
           
                if (checkConcentrated) {
                    document.querySelector("#concentrated").style.display = "inline-block"
                }else{
                    document.querySelector("#detailed").style.display = "inline-block"
                }
            }

            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("checkConcentrated").checked = false;
                document.querySelector("#checkConcentrated").onchange = function() {
                    let checkConcentrated = document.getElementById("checkConcentrated");
                    if (checkConcentrated.checked == true) {
                        showTable(true)
                    }else{
                        showTable(false)
                    }
            }
             })

            

        </script>
        
    </head>
    <body>
        <a href= "{% url 'search:index' %}">Search for payments</a>
        <a href= "{% url 'search:addpayment' %}">Add Payment</a>
        <a href= "{% url 'search:addpaymentkind' %}">Add Payment Kind</a>
        <a href= "{% url 'search:addsupplyer' %}">Add Supplyer</a>
        <br/>
        
        <hr/>
        {% block body %}
        {% endblock %}

    </body>
</html>
